{% extends 'theblog/base.html' %}


{% block title %}
    {{post.title_tag}}
{% endblock title %}
    

{% block content %}
    <!-- UserID :   {{user.id}}
    AuthorID :   {{post.author.id}} -->
    <h1>{{post.title}}</h1>
    <small>By: {{ post.author.first_name }}  {{ post.author.last_name }}
        
        {% if user.is_authenticated  %}
            
            {% if user.id == post.author.id %}
                <a href="{% url 'update-post' post.pk%}">Edit</a> 
                |
                <a href="{% url 'delete-post' post.pk %}">Delete</a>        
            {% endif %}
            
        {% endif %}
        <p>Added date: {{post.post_date}}</p>
    </small><br>
    <hr>
    
    <br>
    {{post.body|safe}}

    <br/><br/>
    
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    
    <br>
    <hr>
    <br>
    <form action="{% url 'like-post' post.pk %}" method="POST">
        {% csrf_token %}

        {% if user.is_authenticated  %}
            {% if liked %}
                <button class="btn btn-danger btn-sm" name="post_id" type="submit" value="{{post.id}}">UNLIKE</button>
            {% else %}
                <button class="btn btn-primary btn-sm" name="post_id" type="submit" value="{{post.id}}">LIKE</button>
            {% endif %}
        {% endif %}
        <small>You must <a href="{% url 'login' %}">login</a> to like post</small>
        <p>{{total_likes}} Likes</p>
    </form>
    
{% endblock content %}
    

