{% extends 'theblog/base.html' %}


{% block title %}
    Category
{% endblock title %}

{% block content %}
    {% if category_list %}
        <h1>{{cats}} Category</h1>
        <ul>
            {% for post in category_list %}
            <li>
                <a href="{% url 'article-detail' post.pk %}">
                    <p>{{post.title}} | {{post.author.first_name}} | Added date: {{post.post_date}}</p>
                </a>
                
                <p>{{post.author.last_name}} | {{post.author.email}} 
                    
                    {% if user.is_authenticated  %}
                    | 
                        <small>
                            <a href="{% url 'update-post' post.pk %}">Edit</a>
                            |
                            <a href="{% url 'delete-post' post.pk %}">Delete</a>
                        </small>    
                    {% endif %}
                    
                </p>
                <br>
                <p>{{post.body|slice:":200"|safe}}</p> 
                <!-- |slice:"200" -> limit 200 words of post.body on screen home page -->
            </li>
            
            {% endfor %}
        </ul>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    {% else %}
        <h1>Sorry this page does not exist...</h1>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    {% endif %}
{% endblock content %}
    
    

