{% extends 'theblog/base.html' %}


{% block title %}
    Long Kun
{% endblock title %}
    

{% block content %}
    <h1>Post</h1>
    <ul>
        {% for post in object_list %}
        <li>
            <a href="{% url 'category' post.category %}"><p>{{post.category}}</p></a>
            <a href="{% url 'article-detail' post.pk %}">
                <p>{{post.title}} | {{post.author.first_name}} | Added date: {{post.post_date}}</p>
            </a>
            
            <p>{{post.author.last_name}} | {{post.author.email}} 
                
                {% if user.is_authenticated  %}
                | 
                    <small>
                        <a href="{% url 'update-post' post.pk %}">Edit</a>
                        |
                        <a href="{% url 'delete-post' post.pk %}">Delete</a>
                    </small>    
                {% endif %}
                
            </p>
            <br>
            <p>{{post.body|slice:":200"|safe}}</p> 
            <!-- |slice:"200" -> limit 200 words of post.body on screen home page -->
        </li>
        
        {% endfor %}
    </ul>
{% endblock content %}
    

